:root {
    --head-backgrounds: #59a0f7;
    --section-backgrounds: #85ceff;
}

* {
    background-color: var(--section-backgrounds);
}

nav ul {
    display:inline;
    background-color: var(--section-backgrounds);
    position:fixed;
    width: 100%;
    margin: 0;
    color:#59a0f7;
    top: 0;
    border-radius: 0;


}

.nav-links {
    background-color: var(--section-backgrounds);
}

#profile-pic {
    width: 50%;
    height: 50%;
}

#about-me {
    font-size: 50px;
}

#my-work {
    font-size: 50px;
    text-align: center;
}

#contact-me {
    font-size: 50px;
}

aside { 
    float:right;
    width: 40%;
    height: 100%;
    margin-right: 20px;
    background-color: var(--section-backgrounds);
    
}

aside p {
   font-size: 20px;
}

h1 {
    background-color: var(--head-backgrounds);
    margin: 21;
    text-align: center;
    font-size: 70px;
}

header {
    background-color: var(--head-backgrounds);
    border: 0;
    padding: 0;
}

body {
    display:flex;
    flex-direction: column;
    line-height: 2;
}

body img {
    max-width: 100%;

}

.work {
    display:flex;
    flex-wrap: wrap;

}

#study-guide {
    flex-basis: 100%;
    padding: 50px 50px 0 50px;

   
    
}

#accessibility {
    padding: 50px 50px;
}

#tree {
    padding: 50px 50px;
}


footer a {
    font-size: 30px;
    text-align: center;
    
}

.flex-item {
    display:flex;
    min-height: 200px;
    max-height: 200px;
    flex-basis:50%;
    

    
}
.flex-item:hover {
    box-shadow: inset 0px 0px 15px var(--head-backgrounds), 0 0 15px var(--head-backgrounds);
}
